[data-md-color-primary="custom"] {
  --md-primary-fg-color:        #1a3a4a;
  --md-primary-fg-color--light: #234f63;
  --md-primary-fg-color--dark:  #112635;
  --md-typeset-a-color:         #00bcd4;
}
